@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;


}
h1{
    font-size: 50px;
    line-height: 64px;
    color: black;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: black;
}
h4{
    font-size: 35px;
    color: black;

}
h6{
    font-weight: 700;
    font-size: 12px;
}
p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;

}
.section-p1 {
padding: 40px 80px;

}
.section-m1 {
    margin: 40px 0;
    
    }
body{
    width: 100%;
}
.logo{
    width: 40%;
    height: 40%;
}
/* Header start */
#header{
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 30px;
background-color: #1fad98;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
z-index: 999;
position: sticky;
top: 0;
left: 0;
}
#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
#bar{
    margin-right: 15px;
}
#navbar li{
    list-style: none;
    padding: 20px 30px;
    
}
#navbar li a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    transition: 0.3s ease;
}
#navbar li a:hover, 
#navbar li a.active{
    color: #444445;
}
#mobile{
    display: none;
    align-items: center;
}

/* Home page */


#hero{
    background-image: url("img/hero4.png");
    height: 87svh;
    width: 58%;
    background-position: top 25% right 0;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 80px;
    display :flex ;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    float: right;
}

#heroheadings button {
    background-color: rgb(255, 0, 153);
    color: #ffffff;
    border: 0;
    padding: 20px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 25px;
    display: flex;
    justify-content: center;
    float: center;
    margin-left: 40px;
    text-align: center;
    
}
#heroheadings a {
    color: #ffffff;
    text-decoration: none;
}



    
#heroheadings h2{
    padding: 120px 40px 40px;
    display :flex ;
    float: left;
    font-family: 'Abril Fatface', cursive;
    color: #1fad98;
    font-size: 50px;
    font-weight: 700;
    font-display: left;

}
#heroheadings span{
    color: #1fad98;
    font-size: 80px;
    font-weight: 900;

}
#heroheadings p{
    font-stretch: normal;
    text-align: center;
    font-family: 'Aclonica', sans-serif;

}
#heroheadings button:hover{
    color: rgb(0, 0, 0);
}

#feature .fe-box{
    width: 280px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(250, 247, 247, 0.03);
    border: 2px solid #cce7d0;
    border-radius: 4px;
    margin: 35px 0;
    background-color: rgba(21, 169, 195, 0.838);

    
}
#feature .fe-box{
    height: 90vh;
    width: 25%;
}
#feature .fe-box img{
    width:100%;
    height: 40vh;
}
#feature .fe-box p{
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
    

}
#feature1{
    margin-top: 0%;
    background-color: #1fad98;
    width: 100%;
    height: 140vh;
    text-align: center;
    display: inline-block;
    
}
#feature1 h1{
    font-family: 'Ultra', serif;
    font-weight: 400;
    color: #fffefe;
    font-size: 60px;
}
#feature1 span{
    font-family: 'Ultra', serif;
    font-weight: 100;
    color: #fffefe;
    font-size: 100px;
}
#feature1 h3{
    font-family: 'Lemon', cursive;
    font-weight: 400;
    color: #fffefe;
    font-size: 80px;
}

#feature1 h3{
font-size: 30px;
}

#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#feature .fe-box:hover{
    box-shadow: 10px 28px 54px rgba(255, 255, 255, 0.585) ;
}
#feature .fe-box h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 1px;
    color: rgb(255, 247, 247);
    background-color:#ff5656ee;
    font-weight: 600;
    font-size: 20px;
}
#feature .fe-box img{
    width: 100%;
    margin-bottom: 10px;
}

#feature .fe-box:nth-child(2){
    width: 280px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 2px solid #cce7d0;
    border-radius: 4px;
    margin: 35px 0;
    background-color: rgba(40, 181, 206, 0.914);

    
}
#feature .fe-box:nth-child(2):hover{
    box-shadow: 10px 28px 54px rgba(255, 255, 255, 0.585) ;
}
#feature .fe-box:nth-child(2) h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 1px;
    color: rgb(255, 247, 247);
    background-color:#e29af1ee;
    font-weight: 600;
    font-size: 20px;
}
#feature .fe-box:nth-child(3){
    width: 280px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 2px solid #cce7d0;
    border-radius: 4px;
    margin: 35px 0;
    background-color:  rgba(21, 169, 195, 0.838);

    
}
#feature .fe-box:nth-child(3):hover{
    box-shadow: 10px 28px 54px rgba(255, 255, 255, 0.585) ;
}
#feature .fe-box:nth-child(3) h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 1px;
    color: rgb(255, 247, 247);
    background-color:rgb(74, 212, 69);
    font-weight: 600;
    font-size: 20px;
}
#feature .fe-box:nth-child(4){
    width: 280px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border: 2px solid #cce7d0;
    border-radius: 4px;
    margin: 35px 0;
    background-color:  rgba(21, 169, 195, 0.838);

    
}
#feature .fe-box:nth-child(4):hover{
    box-shadow: 10px 28px 54px rgba(255, 255, 255, 0.585) ;
}
#feature .fe-box:nth-child(4) h6{
    padding: 9px 8px 6px 8px;
    line-height: 1;
    border-radius: 1px;
    color: rgb(254, 254, 254);
    background-color:#e8ff15;
    font-weight: 600;
    font-size: 20px;
    
}
#feature .fe-box p{
    color: whitesmoke;
    font-family: 'Balthazar', serif;

}
#banner1 .wrapper{
    background-color: rgba(213, 240, 243, 0.892);
    color: rgb(7, 7, 7);
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 45px;
    font-weight: 500;
    margin: 0%;
    width: 100%;
    height:25vh;
    padding: 30px;

}
#banner1 .wrapper h4{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    font-size: 35px;
    font-weight: 500;
}
#banner1 button{
    padding: 10px 15px ;
    color: #fffbfb;
    background-color:  #66d5c5 ;
    font-size: 25px ;
    font-weight: 800 ;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    margin: 30px; 
}
#banner1 button:hover{
    box-shadow:10px 10px 14px #b4b4c370;
    cursor: grabbing;
}
#banner1 button a{
    color: #fffbfb;
    font-size: 25px ;
    font-weight: 800 ;
    text-decoration: none;
}
#info h2{
    font-size: 70px ;
    padding: 40px ;
    font-weight: 20;
    font-family: 'Titan One', cursive;
    text-align: center;
    color: #fffbfb;
}
#info div {
    width: 100%;
    height: 100vh;
    background-color: #1fad98 ;
}
#info img{
    width: 100vh;
    height: 50vh;
    display: flex;
    float: left;
    padding: 0;
    margin: 5px;

}
#info {
    display: flex;
    float: right;
    background-color: #308d7fe0;
    color:#fffbfb;

    

}
#info p{
    color:#fffbfb;
    font-size: 30px ;
    padding: 10px;
    
}

#news{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #e9f1fc;
    
}
#news h4{
    font-size: 22px;
    font-weight: 700;
    color: #090909;
}
#news p{
    font-size: 14px;
    font-weight: 500;
    color:  #090909;
}
#news span{
    font-size: 14px;
    font-weight: 500;
    color:  #090909;
}
#news input{
    font-size: 14px;
    height: 3.125rem;
    width: 100%;
    padding: 0.125rem;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius:  0;
    border-bottom-right-radius: 0;
}
#news button{
    padding: 10px;
    font-size: 15px;
    white-space: nowrap;
    font-weight: 600;
    text-align: center;
    background-color: #088178;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5%;
    cursor: pointer;
    transition: 0.2s ease;
    color: #cce7d0;
    border-top-left-radius:  0;
    border-bottom-left-radius: 0;
}
#news ::placeholder{
    padding: 10px;
}
#news button:hover{
   background-color: #0780787e;
} 
#news .form{
    display: flex;
    width: 30%;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #1fad98;
}
footer .col .l1{
    width: 40%;
    height: 40%;
    color: #000000;
}
footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    color: #000000;
}
footer .col a{
    color: black;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 20px;
    transition: 0.2s ease;
}
footer a:hover{
    color: #000000;
}
footer .col h4{
    margin-bottom: 15px;
    margin-top: 5px;
}


